USE [master]
GO
/****** Object:  Database [SmartMedDB]    Script Date: 31-Jul-26 11:11:48 PM ******/
CREATE DATABASE [SmartMedDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartMedDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LOCALHOST\MSSQL\DATA\SmartMedDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartMedDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LOCALHOST\MSSQL\DATA\SmartMedDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartMedDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartMedDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 31-Jul-26 11:11:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 31-Jul-26 11:11:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PrescriptionPath] [nvarchar](255) NULL,
	[AddedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 31-Jul-26 11:11:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 31-Jul-26 11:11:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Dosage] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[RequiresPrescription] [bit] NOT NULL,
	[IsOnPromotion] [bit] NOT NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[PromotionStartDate] [date] NULL,
	[PromotionEndDate] [date] NULL,
	[Description] [nvarchar](500) NULL,
	[ActiveIngredient] [nvarchar](200) NULL,
	[UsageInstructions] [nvarchar](500) NULL,
	[Warnings] [nvarchar](500) NULL,
	[SideEffects] [nvarchar](300) NULL,
	[PackSize] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 31-Jul-26 11:11:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](30) NOT NULL,
	[PaymentStatus] [nvarchar](30) NOT NULL,
	[PaymentReference] [nvarchar](50) NULL,
	[CancellationReason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 31-Jul-26 11:11:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 31-Jul-26 11:11:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PrescriptionFile] [nvarchar](255) NOT NULL,
	[UploadDate] [datetime] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[OrderID] [int] NULL,
	[MedicineID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [Username], [Password], [Email]) VALUES (1, N'admin', N'100000$AAAAAAAAAAAAAAAAAAAAAQ==$yWsCnUmJjkvSHVoBAzJtW4j3Vl7wobUZIS5YvUKjMpU=', N'admin@smartmed.com')
INSERT [dbo].[Admin] ([AdminID], [Username], [Password], [Email]) VALUES (2, N'pharmacy.admin', N'100000$MrrG4J9pp+EWhOJNDXs4dw==$ui+5URzkMNE9XqJx/GA4cVN2dROGf35YOG5yKVnVUDU=', N'pharmacy.admin@smartmed.com')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([CartItemID], [CustomerID], [MedicineID], [Quantity], [PrescriptionPath], [AddedAt]) VALUES (49, 3, 2, 1, N'C:\Users\ASUS Vivobook\Downloads\my_orders.pdf', CAST(N'2026-07-14T23:37:31.117' AS DateTime))
INSERT [dbo].[CartItem] ([CartItemID], [CustomerID], [MedicineID], [Quantity], [PrescriptionPath], [AddedAt]) VALUES (59, 1, 30, 1, NULL, CAST(N'2026-07-31T22:21:06.253' AS DateTime))
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FullName], [Email], [Phone], [Address], [Password], [IsActive]) VALUES (1, N'Test', N'test1@gmail.com', N'0771234567', N'12 Main Street, Colombo 03', N'100000$DBJNzlSJhbC6TFW70f85ow==$HxBLRlCI8oZ+LTj5d2yr8s4rwvbIwpFi+aI07G3OAyE=', 1)
INSERT [dbo].[Customer] ([CustomerID], [FullName], [Email], [Phone], [Address], [Password], [IsActive]) VALUES (2, N'Jane Doe', N'jane@email.com', N'0779876543', N'45 Park Road, Kandy', N'100000$wbO9MvNclvPN/bb6edqO5w==$Ywfqb0+mo3YX9WKH5x+ZquHOdjm5cPt5K7xhYf1GhYc=', 1)
INSERT [dbo].[Customer] ([CustomerID], [FullName], [Email], [Phone], [Address], [Password], [IsActive]) VALUES (3, N'Nisha', N'customer@gmail.com', N'0771112233', N'10 Demo Lane, Colombo 05', N'100000$AAAAAAAAAAAAAAAAAAAAAg==$HvBMuEdPKF45iIfPiMZCLS8zO3N8dqtekH+oTdrusOU=', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicine] ON 

SET IDENTITY_INSERT [dbo].[Medicine] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [CustomerID], [OrderDate], [Status], [TotalAmount], [PaymentMethod], [PaymentStatus], [PaymentReference], [CancellationReason]) VALUES (1, 1, CAST(N'2026-07-04T00:01:43.343' AS DateTime), N'Delivered', CAST(19.75 AS Decimal(10, 2)), N'Cash on Pickup', N'Pay on Pickup', NULL, NULL)
INSERT [dbo].[Order] ([OrderID], [CustomerID], [OrderDate], [Status], [TotalAmount], [PaymentMethod], [PaymentStatus], [PaymentReference], [CancellationReason]) VALUES (2, 1, CAST(N'2026-07-08T00:01:43.343' AS DateTime), N'Cancelled', CAST(15.00 AS Decimal(10, 2)), N'Cash on Pickup', N'Pay on Pickup', NULL, N'cancel')
INSERT [dbo].[Order] ([OrderID], [CustomerID], [OrderDate], [Status], [TotalAmount], [PaymentMethod], [PaymentStatus], [PaymentReference], [CancellationReason]) VALUES (3, 3, CAST(N'2026-07-08T18:01:43.343' AS DateTime), N'Pending', CAST(24.00 AS Decimal(10, 2)), N'Cash on Pickup', N'Pay on Pickup', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [MedicineID], [Quantity], [UnitPrice], [Subtotal]) VALUES (1, 1, 1, 2, CAST(5.50 AS Decimal(10, 2)), CAST(11.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [MedicineID], [Quantity], [UnitPrice], [Subtotal]) VALUES (2, 1, 3, 1, CAST(8.75 AS Decimal(10, 2)), CAST(8.75 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [MedicineID], [Quantity], [UnitPrice], [Subtotal]) VALUES (3, 2, 4, 1, CAST(15.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([PrescriptionID], [CustomerID], [PrescriptionFile], [UploadDate], [Status], [OrderID], [MedicineID]) VALUES (1, 3, N'Prescriptions/3_20260708103000_amoxicillin_rx.pdf', CAST(N'2026-07-08T19:01:43.350' AS DateTime), N'Verified', 3, NULL)
INSERT [dbo].[Prescription] ([PrescriptionID], [CustomerID], [PrescriptionFile], [UploadDate], [Status], [OrderID], [MedicineID]) VALUES (2, 2, N'Prescriptions/2_20260706140000_metformin_rx.pdf', CAST(N'2026-07-07T00:01:43.350' AS DateTime), N'Verified', 4, NULL)
INSERT [dbo].[Prescription] ([PrescriptionID], [CustomerID], [PrescriptionFile], [UploadDate], [Status], [OrderID], [MedicineID]) VALUES (3, 5, N'Prescriptions/5_20260708114500_salbutamol_rx.pdf', CAST(N'2026-07-08T23:01:43.350' AS DateTime), N'Verified', 6, NULL)
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__536C85E43456B036]    Script Date: 31-Jul-26 11:11:48 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CartItem_Customer_Medicine]    Script Date: 31-Jul-26 11:11:48 PM ******/
ALTER TABLE [dbo].[CartItem] ADD  CONSTRAINT [UQ_CartItem_Customer_Medicine] UNIQUE NONCLUSTERED 
(
	[CustomerID] ASC,
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105349AAC7DC5]    Script Date: 31-Jul-26 11:11:48 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Medicine_MedicineName]    Script Date: 31-Jul-26 11:11:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Medicine_MedicineName] ON [dbo].[Medicine]
(
	[MedicineName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Prescription_Order_Medicine]    Script Date: 31-Jul-26 11:11:48 PM ******/
ALTER TABLE [dbo].[Prescription] ADD  CONSTRAINT [UQ_Prescription_Order_Medicine] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC,
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItem] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Medicine] ADD  DEFAULT ((0)) FOR [RequiresPrescription]
GO
ALTER TABLE [dbo].[Medicine] ADD  CONSTRAINT [DF_Medicine_IsOnPromotion]  DEFAULT ((0)) FOR [IsOnPromotion]
GO
ALTER TABLE [dbo].[Medicine] ADD  CONSTRAINT [DF_Medicine_DiscountPercent]  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Medicine] ADD  CONSTRAINT [DF_Medicine_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Customer]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Medicine] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Medicine]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Medicine] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Medicine]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Customer]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Medicine] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Medicine]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Order]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD  CONSTRAINT [CK_Medicine_DiscountPercent] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Medicine] CHECK CONSTRAINT [CK_Medicine_DiscountPercent]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_Status] CHECK  (([Status]=N'Cancelled' OR [Status]=N'Delivered' OR [Status]=N'Ready for Pickup' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_Status]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
USE [master]
GO
